.jumbotron {
	background-image: url("../images/office.jpg"), url("../images/trivia.png");
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
	padding-top: 5%;
}

body {
	background-image: url("../images/office-cast.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#display {
	color: white;
	font-family: Helvetica;
	text-shadow: 3px 3px black;
	text-align: center;
	font-size: 35px;
}

#questions {
	color: #00264d;
	font-family: Helvetica;
	font-size: 20px;
}

#intro {
	color: white;
	font-family: Helvetica;
	text-shadow: 3px 3px black;
	font-size: 50px;
	text-align: center;
	padding-bottom: 5%;
}

#startScreen {
	align: center;
}

#StartButton {
	padding: 18px 28px;
	font-size: 22px;
	line-height: normal;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color: black;
	background-color: white;
	font-family: Helvetica;
}

#results {
	color: white;
	font-family: Helvetica;
	text-shadow: 3px 3px black;
	font-size: 45px;
	text-align: center;
}

.restart, .submit, .start {
	padding: 18px 28px;
	font-size: 22px;
	line-height: normal;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color: black;
	background-color: white;
	font-family: Helvetica;
}